output/
data/


.Rproj.user
.Rhistory
*.html
*~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.zip
*.xls
*.xlsx
#*#
_*
.#*


*.odt
*.odp
*.rdb
*.rdx
brouillon.R
brouillon2.R
